<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppConfigType</key>
	<string>AppConfigurationTypePROD</string>
	<key>AuthConfig</key>
	<dict>
		<key>accessToken</key>
		<string>$(AUTH_ACCESS_TOKEN)</string>
		<key>apiKey</key>
		<string>$(AUTH_API_KEY)</string>
		<key>applicationId</key>
		<string>$(AUTH_APP_ID)</string>
		<key>baseApiURL</key>
		<string>https://api3.fox.com/v2.0</string>
		<key>baseURL</key>
		<string>https://int1.api3.fox.com/v2.0</string>
		<key>networkId</key>
		<string>$(AUTH_NETWORK_ID)</string>
		<key>preferencesApiKey</key>
		<string>$(AUTH_PREFERENCES_API_KEY)</string>
		<key>preferencesBaseURL</key>
		<string>https://api-sps.foxtv.com/</string>
		<key>productApiProdBaseUrl</key>
		<string>https://api.fox.com/fs</string>
		<key>xidBaseURL_Prod</key>
		<string>https://prod.xid.atp.fox/</string>
		<key>xidEventBaseURL_Prod</key>
		<string>https://prod.pyxis.atp.fox/</string>
	</dict>
	<key>BullhornSdkId</key>
	<string>$(BH_SDK_ID)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>INIntentsSupported</key>
	<array>
		<string>INPlayMediaIntent</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Black.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>TemplateSceneConfiguration</string>
					<key>UISceneDelegateClassName</key>
					<string>BHSdkApp.TemplateApplicationSceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>MainWindowSceneConfiguration</string>
					<key>UISceneDelegateClassName</key>
					<string>BHSdkApp.MainWindowSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UIBrowsableContentSupportsSectionedBrowsing</key>
	<true/>
</dict>
</plist>
