
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

AUTH_ACCESS_TOKEN = xxx
AUTH_API_KEY = xxx
AUTH_PREFERENCES_API_KEY = xxx
AUTH_APP_ID = BullhornSDK-iOS
AUTH_NETWORK_ID = 540ea6c1-7e9c-4e2e-b3e0-09a5b1c378cd

BH_SDK_ID = 50cf5b12-409e-41d0-a2b7-6c7b3296e8e4
